<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <meta name="author" content="Bruno Paulino" />
    <meta name="description" content="Help us move to Spain!" />
    <meta name="theme-color" content="#21364B" />
    <!-- Open Graph meta properties for beautifully rendering link previews on social -->
    <!-- See: https://ogp.me/ -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bye.bpaulino.com/" />
    <meta property="og:title" content="Bye Austria" />
    <meta property="og:description" content="Help us move to Spain!" />
    <meta property="og:image" content={url(~p"/images/og2.jpg")} />
    <!-- twitter card tags additive to og: meta properties -->
    <!-- See: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="bye.bpaulino.com" />
    <meta name="twitter:title" content="bye.bpaulino.com" />
    <meta name="twitter:description" content="Help us move to Spain!" />
    <meta name="twitter:image" content={url(~p"/images/og2.jpg")} />
    <meta name="twitter:url" content="https://bye.bpaulino.com/" />
    <meta name="twitter:creator" content="@bpaulino0" />
    <meta name="twitter:label1" content="Created by" />
    <meta name="twitter:data1" content="Bruno Paulino" />
    <meta name="twitter:label2" content="Twitter" />
    <meta name="twitter:data2" content="@bpaulino0" />

    <.live_title suffix="">
      <%= assigns[:page_title] || "Bye!" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased dark">
    <%= if @current_user do %>
      <ul class="relative z-10 flex items-center justify-end gap-4 px-4 sm:px-6 lg:px-8">
        <li class="text-[0.8125rem] leading-6 text-zinc-900 dark:text-white">
          <%= @current_user.email %>
        </li>
        <.link
          href={~p"/ops/products"}
          class="text-[0.8125rem] leading-6 text-zinc-900 dark:text-white font-semibold hover:text-zinc-700"
        >
          Products
        </.link>
        <li>
          <.link
            href={~p"/ops/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 dark:text-white font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/ops/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 dark:text-white font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      </ul>
    <% end %>
    <%= @inner_content %>
  </body>
  <footer class="rounded-sm shadow m-4 bg-zinc-100 dark:bg-zinc-800 mx-auto max-w-2xl px-4 py-4 lg:max-w-7xl">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        Created with ❤️ by <a href="https://x.com/bpaulino0" class="underline">Bruno</a>
        & <a href="https://x.com/RhaisaLouise" class="underline">Rhaisa</a>. All Rights Reserved.
      </span>
    </div>
  </footer>
</html>
